
.ant-menu-dark .ant-menu-item-selected {
    background: linear-gradient(45deg, #f54266, #3858f9) !important;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f2f5;

    .login-card {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
    .login-title {
        text-align: center;
        margin-bottom: 20px !important;
    }
}
.ant-btn,
.ant-input,
.ant-input-number,
.ant-select,
.ant-table,
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-pagination,
.ant-card,
.ant-modal,
.ant-form,
.ant-menu,
.ant-tabs,
.ant-checkbox-wrapper,
.ant-radio-wrapper,
.ant-breadcrumb {
  font-size: 13px !important;
  
}
.ant-form-item-label > label {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}
.ant-custom-pagination {
    .ant-table-wrapper .ant-table-pagination.ant-pagination {
        margin-bottom: -10px !important;
    }
}
.ant-card {
  border-color: #d8dbe0 !important;
  color: #333 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05)!important;
  border-radius: 0 !important;
}

.ant-breadcrumb-link {
    color: #999;
}
.ant-form-item {
  margin-bottom: 15px !important; 
}

.ant-form-item-label {
  padding-bottom: 2px !important; 
}
.ant-form-item-explain-error{
  padding-bottom: 10px !important;
}
.action-button-table {
   min-width: 30px;
   padding: 4px;
   color: white;
   background-color: #33b79b;
   border-color: #33b79b;
   &:hover {
      background-color: #72d1e7 !important; /* Màu xanh nhạt khi hover */
      border-color: #72d1e7 !important;
      color: white !important;
   }
}
/* Chỉnh màu chỉ cho button `type="primary"` mà KHÔNG ảnh hưởng `danger` */
.ant-btn-primary:not(.ant-btn-dangerous) {
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
  color: white !important;
}

.ant-btn {
  box-shadow: none !important;
  transition: none !important;
  border-radius: 3px !important;
}

.ant-space-compact .ant-btn:not(:first-child) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.ant-input,
.ant-picker-input,
.ant-input-affix-wrapper,
.ant-form-item .ant-input,
.ant-form-item .ant-input-affix-wrapper,
.ant-select-selector,
.ant-select,
.ant-picker,
textarea.ant-input {
  border-radius: 3px !important;
}
.custom-title {
  font-size: 16px;
  font-weight: 400;
}
.custom-row {
  margin-bottom: 20px !important;  
}

.group-collapse {
  .ant-collapse-content-box {
    padding: 0 !important;
  }
}