.header {
    padding: 0 !important;
    
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
    background-color: #fff !important;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(136, 136, 136, 0.27) 10px 15px 26px;
    z-index: 10;
}
.ant-layout-header {
    line-height: 48px !important;
}
.fixed { 
    position: fixed;
    top: 0;
    right: 0;
    z-index: 29;
    transition: width 0.2s; 
    width: calc(100% - 256px);
}
.collapsed {
    width: calc(100% - 80px) ;
  }
.mobile-full {
    width: 100%;
}
.button-collapse {   
    cursor: pointer;
    padding-left: 20px;
    transition: transition-ease-in;
    font-size:22px;
}

.sider {
    box-shadow: fade(#1890ff, 10%) 0 0 28px 0;
    z-index: 10;
    position: 'fixed';
  }
  .brand {
    z-index: 1;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    box-shadow: 0 1px 9px -3px rgba(0, 0, 0, 0.2);
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
        width: 36px;
        margin-right: 8px;
    }
    h1 {
        font-size: 16px;
        font-weight: 700;
        color: #1890ff;
        white-space: nowrap;
        }
  }
}
.menuContainer {
    height: calc(100vh);
    overflow-x: hidden;
    flex: 1;
    padding: 24px 0;
}
.breadcrumb{
     margin-left: 256px;
}
.breadcrumb-mobile {
     margin-left: 0px !important;
}
.breadcrumb-collapsed {
     margin-left: 80px !important;
}
//content

.container-content {
    padding-top: 89px;
    //padding-bottom: 20px;
    //margin-bottom: 20px;
    .content {
        margin-left: 256px;
    }
    .content-collapsed{
        margin-left: 80px;
    }
    .content-mobile {
        margin-left: 0px !important;
    }
    .contentInner {
        padding: 20px 20px 0px 20px;
        min-height: calc(100vh - 130px);
        position: relative;
    }
    .bread-rum {
        margin-bottom: 15px;
    }
}
.fixed-footer {
  //position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 10px 15px;
  min-height: 40px;
  color: rgba(0, 0, 0, 0.45);
  border-top: 1px solid #d8dbe0;
  z-index: 3;
}